<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	  	<meta name="apple-mobile-web-app-capable" content="yes" />
	
		<title>Birdi Control Panel</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	    
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	</head>
	
	<body>
		
		<div id="header">
				<h2>Manual triggers</h2>
		</div>
		
		<h4>A - Shinyei</h4>

		 <a onclick="trigger('a','alert')" >Alert</a>
		 <a onclick="trigger('a','emergency')" >Emergency</a>
		 <a onclick="trigger('a','caution')" >Caution</a>
		 <a onclick="trigger('a','clear')" >Clear</a>
		
		
		<br>
		<h4>B - CO2</h4>
		
		 <a onclick="trigger('b','alert')" >Alert</a>
		 <a onclick="trigger('b','emergency')" >Emergency</a>
		 <a onclick="trigger('b','caution')" >Caution</a>
		 <a onclick="trigger('b','clear')" >Clear</a>
		
		<br>
		<h4>C - Sharp only</h4>
		
		 <a onclick="trigger('c','alert')" >Alert</a>
		 <a onclick="trigger('c','emergency')" >Emergency</a>
		 <a onclick="trigger('c','caution')" >Caution</a>
		 <a onclick="trigger('c','clear')" >Clear</a>
		
		<br>
		
		<h4>C - None</h4>

		 <a onclick="trigger('0','alert')" >Alert</a>
		 <a onclick="trigger('0','emergency')" >Emergency</a>
		 <a onclick="trigger('0','caution')" >Caution</a>
		 <a onclick="trigger('0','clear')" >Clear</a>
		
			<h2>Control panel</h2>
			<ul>
				<li><a onclick="happened_false()" >happened_false </a></li>
				<li><a onclick="alert()" >alert</a></li>
				<li><a onclick="emergency()" >emergency</a></li>
				<li><a onclick="reset()" >mute</a></li>
				<li><a onclick="thank()" >thank then clear names</a></li>
				<li><a onclick="reset_clear()" >clear names</a></li>				
			</ul>
		
		<ul id="home" title="Responders">
			
		</ul>
			
			
			<script>
			

			
			function trigger(id,status){
				$.get('/trigger_imp/'+id+'/'+status,function(data){});
				console.log('https://agent.electricimp.com/'+id+'?status='+status);
			}
			function happened_false(){
				$.get('/happened_false',function(){});
				console.log('Triggered /happened_false');
			}
			function alert(){
				$.get('/alert',function(){});
				console.log('Triggered /alert');
			}
			function emergency(){
				$.get('/emergency',function(){});
				console.log('Triggered /emergency');
			}
			function reset(){
				$.get('/reset',function(){});
				console.log('Triggered /reset');
			}
			function thank(){
				$.get('/thank',function(){});
				console.log('Triggered /happened_false');
			}
			function reset_clear(){
				$.get('/reset_clear',function(){});
				console.log('Triggered /reset_clear');
			}
			
			
			
			</script>
		
	</body>
</html>
