<!doctype html>
<html>
  <head>
    <title>AirLert</title>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script>
      $('#navbar').scrollspy()
    </script>
    <script src="http://smokeconnector.nodejitsu.com/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  </head>
  <body>
    <div class="container-fluid" data-spy="scroll" data-target=".navbar">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <a class="brand" href="#top">Airlert</a>
          <ul class="nav pull-right">
            <li class="active"><a href="#about">About</a></li>
            <li><a href="#setup">Setup</a></li>
            <li><a href="#log">Log</a></li>
          </ul>
      </div>
    </div>
      <div id="top" class="hero-unit">
        <div class="row-fluid">
          <img class="phone" src="images/phone.png">
          <h1>Airlert</h1> 
		<h1>+1 407-477-6653</h1>
        </div>
      </div>
      <div id="logs" class="section">
        <h2>Log</h2>
        <ul id="log"></ul>
      </div>
      <div id="about" class="section">
        <h2>Breathe Easy.</h2>
        <div class="row-fluid">
          <div class="fire span3">
            <img src="images/fire.svg">
            <h3>Fire</h3>
          </div>
          <div class="co2 span3">
            <img src="images/co2.svg">
            <h3>Carbon Dioxide</h3>
          </div>
          <div class="flower span3">
            <img src="images/flower.svg">
            <h3>Pollen</h3>
          </div>
          <div class="smoketower span3">
            <img src="images/smoketower.svg">
            <h3>Air Pollution</h3>
          </div>
        </div>

      </div>
      <div id="setup" class="section"> 
        <h2>Setup</h2>
        <ul>
          <li>Alarm number : <strong>+1 407-477-6653</strong></li>
          <li>Mode : <strong>Carbon Dioxide</strong></li>
        </ul>
      </div>
    </div>
<script type="text/javascript" charset="utf-8">

	var socket = io.connect('smokeconnector.nodejitsu.com:80');
	socket.on('connect', function () {
		socket.on('detected', function (msg) {
			$('#log').append('<li> Air quality alert happened at ' + msg.timeReceived + '</li>')})
		.on('notified', function (msg) {
				$('#log').append('<li style="color:#AAA"> Notification message sent from '+msg.from +' to '+msg.to +'</li>')})
		.on('newnumber', function (msg) {
					$('#log').append('<li> New subscriber: '+ msg.number.From +' from '+ msg.number.FromZip+', '+msg.number.FromState+'</li>');
					console.log(msg.number);
					});
					
	});


/*	
	var updateValue= function(primaryInput,secondaryInput){
		$.post("/configure", { "primary": primaryInput,"secondary": secondaryInput } );
	}
>>>>>>> 3096d5bdab5f3bda46677d9470c115d0f1d2db4e
*/

</script>
  </body>
</html>
