<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	  	<meta name="apple-mobile-web-app-capable" content="yes" />
	
		<title>Birdi Smoke Alarm</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="socket.io/socket.io.js"></script>
	    
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="android.css" type="text/css" charset="utf-8">
	</head>
	<body>		
		<div id="header" class="headerCanary">
			<div id="logo">
			</div>
			<div id="callme">
				<h2>+1-407-47-SMOKE</h2>
			</div>
		</div>
		<ul id="home" title="Responders">
			
		</ul>

		 <a id='resetbutton'  href="" onclick="resetResponders()" >Reset</a>
		
		 <a id='triggerbutton'  onclick="trigger()" >Trigger</a>
				
		<div id="bottom" class="shown">
			<a href="tel:911" class="button">Call 911</a>
			
			<h3 id="firedetected"></h3>

		</div>
		
		<script type="text/javascript" charset="utf-8">
		
		$(document).ready(function(){
			$.get('responderslist', function(data) {
				if(data.length>0){
					console.log(data);
					data.forEach(function(msg){
						
						var temp_name=msg.firstName;
						if(temp_name.length>15){
							temp_name=temp_name.substring(0,15)+'..';
						}
						
						$('#home').append('<li id=n' + msg.number.replace("+","") + '> <p class="number">'+temp_name+' from '+msg.place+'</p><p class="status">Added</p></li>');
					});
				}
			}, "json");
		});
		
		function resetResponders(){
			$.get('reset',function(data){});
			console.log("Resetting");
			document.body.style.background = '#66c396';
			document.getElementById("bottom").style.backgroundColor="#66c396";
		}
		
		function trigger(){
			$.get('alert',function(data){});
			console.log("Triggered alert");
			$('#triggerbutton').hide();
		}
		
		function capitaliseFirstLetter(string)
		{
		    return string.charAt(0).toUpperCase() + string.slice(1);
		}
		

		var socket = io.connect('<%=server%>');
		socket.on('connect', function () {
			socket.on('newContact', function (msg) {
				var temp_name=msg.firstName;
				if(temp_name.length>15){
					temp_name=temp_name.substring(0,15)+'..';
				}
				$('#home').append('<li id=n' + msg.number.replace("+","").replace('(','').replace(')','').replace(' ','') + '> <p class="number">'+temp_name+' from '+msg.place+'</span></p><p class="status">Added</p></li>');			
				})
				.on('alert',function(msg){ 
				//	$('#header').removeClass().addClass('headerAlarm');
					$('#bottom').show();
					$('#triggerbutton').hide();
					$('#firedetected').html("Fire detected on stage!");
					document.body.style.background = '#f8cf73';
					document.getElementById("bottom").style.backgroundColor="#f8cf73";
				})
			.on('updateFeedback', function (msg) {
					var contact=$('#n'+msg.number.replace('+','').replace('(','').replace(')','').replace(' ','') );
					contact.children('p.status').html(capitaliseFirstLetter(msg.status));
					if(msg.status==='emergency'){
						contact.children('p.status').addClass('emergency');
						document.body.style.background = '#ea6254';
						document.getElementById("bottom").style.backgroundColor="#ea6254";
					}
			});
		});

		</script>	
			
		
	</body>
</html>
