<!doctype html>
<html>
  <head>
    <title>AirLert</title>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="status.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

    <script src="socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
  </head>
  <body>
	
	<div data-role="panel" id="mypanel" data-position="left" data-display="overlay" >
	    <!-- panel content goes here -->
	<h3>Left Panel: Overlay</h3>
	<p>This panel is positioned on the left with the overlay display mode. The panel markup is <em>after</em> the header, content and footer in the source order.</p>
	<a href="#my-header" data-rel="close">Close panel</a>
	</div>
	</div><!-- /panel -->
	
	
	<div data-role="page">

		<div data-role="header">
			<h1>Fire alarm</h1>
		</div><!-- /header -->

		<div data-role="content">
			<p id="statusmessage">A fire was detected at 123 Broadway at 11:57AM!</p>
			<p>Your responders are being contacted</p>
		
			<ul data-role="listview" data-inset="true" data-split-icon="forward" id="myList">
			    <li data-role="list-divider">Lives with me <span class="ui-li-count">2</span></li>

			    <li id="13476819080"><a href="index.html">
			        <h3>Justin Alvey</h3>
					<img src="../thumbs/justin.png">
			        <p>Friend</p>
					<a href=''><p>Call</p></a>
			    </a></li>
			    <li id="mark"><a href="index.html">
					<img src="../thumbs/mark.png">
			        <h3>Mark Belinsky</h3>
			        <p>Friend</p>
					<a href=''>Call</a>
			    </a></li>
			    <li data-role="list-divider">Lives near me <span class="ui-li-count">0</span></li>
			    <li data-role="list-divider">Lives far away from me <span class="ui-li-count">0</span></li>
			</ul>		



		</div><!-- /content -->
	</div><!-- /page -->
		
		
	</div>
	<script type="text/javascript" charset="utf-8">
		
	var socket = io.connect('<%=server%>');
	socket.on('connect', function () {
		socket.on('newContact', function (msg) {
			$('#mark').append('<li id=' + msg.number.replace("+","") + '><a href="index.html"> <img src="../thumbs/mark.png"> <h3>'+msg.number+'</h3><p>Friend</p> <a href="">Call</a>');			
			})
			.on('newToken', function (msg) {
				console.log(msg.token);
			})
		.on('update', function (msg) {
				$('#'+msg.number.replace('+','')).p.append(msg.status);
		});
	});

	</script>	
</body>
</html>
	