


body {
	font-family:	Droid Sans;
	color: 			#f0f0f0;
	background:		#181818;
}

#callme{
	margin: 59px auto 0 auto;
	width: 220px;
	padding-left: 25px;
}

#logo{
	top: 0px;
	position: absolute;
	margin: 0;
	padding: 0;
	left:0%;
	width:100%;
	background:url(images/canarylogo.png)  center center no-repeat;
	height:65px;
	
}


#header {
	top: 0px;
	position: absolute;
	margin: 0;
	padding: 0;
	left:0%;
	width:100%;
	height:94px;
	background: #FFD400 ;
	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFD400), to(#FBB040)) ;
	background: -webkit-linear-gradient(top, #FFD400, #FBB040) ;
}


#home {
	top: 94px;
	position: absolute;
	margin: 0;
	padding: 0;
	left:0%;
	width:100%;
}


#bottom {
	bottom: 0px;
	height:50px;
	position: absolute;
	margin: 0;
	padding: 0;
	left:0%;
	width:100%;
	border-top: 1px solid rgba(255,255,255,.3);
	
}


p.status{
	padding-right:20px;
	float:right;
}

p.number{
	float:left;
}


li  {
	min-height: 60px;
font-size: 16px;
font-weight: normal;
border: 0px;
border-bottom: 1px solid rgba(255,255,255,.3);
margin:0px 0px 0px 0px;
padding:15px 0 15px 10px;

}


.emergency{
	color:maroon;
}

/* #DF535D; */





