
/*
green #66c396
yellow #f8cf73
orange #FF992B
red #ea6254
*/

body {
	font-family:	Droid Sans;
	color: 			#f0f0f0;
	background:		#66c396;
}

#callme{
	margin: 59px auto 0 auto;
	width: 220px;
	padding-left: 25px;
	display:none;
}

#logo{
	top: 0px;
	position: absolute;
	margin: 0;
	padding: 0;
	left:0%;
	width:100%;
	background:url(images/birdilogo.png)  center center no-repeat;
	height:65px;
	
}


#header {
	opacity:0.6;
	top: 0px;
	position: absolute;
	margin: 0;
	padding: 0;
	left:0%;
	width:100%;
	height:72px;
	background: white;
}

/*
.headerCanary{
	background: #FFD400 ;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFD400), to(#FBB040)) ;
	background: -webkit-linear-gradient(top, #FFD400, #FBB040) ;
}

.headerAlarm{
background: rgb(213, 60, 0) ;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(213, 60, 0)), to(rgb(247, 87, 46))) ;
background: -webkit-linear-gradient(top, rgb(213, 60, 0), rgb(247, 87, 46));
}
*/

#firedetected{
	bottom: 55px;
	position: absolute;
	color:rgb(255, 255, 255);
	width:100%;
	text-align:center;
}


.button{
	text-align: center;
	display: inline-block;
	background-color: white; 
	border-radius: 5px;
	color: #ea6254;
	padding: 12px 18px;
	font-size: 22px;
	position:absolute;
	bottom:10px;
	left:10px;
}


#home {
	top: 94px;
	position: absolute;
	margin: 0;
	padding: 0;
	left:0%;
	width:100%;
	z-index:1;
	
}


#bottom {
	bottom: 0px;
	position: fixed;
	height:67px;
	display:none;
	margin: 0;
	padding: 0;
	left:0%;
	width:100%;
	border-top: 1px solid rgba(255,255,255,.3);
	z-index:2;
	background:#66c396;	
}



#resetlink{
	position: fixed;
	bottom: 0px;	
	width: 94%;
	text-align: right;
	z-index:3;
}



#resetbutton{
	text-align: center;
	display: inline-block;
	border-radius: 5px;
	border-color: rgba(255,255,255,.3);
	padding: 12px 18px;
	position:fixed;
	bottom:10px;
	right:10px;
	z-index:3;
	
}

#triggerbutton{
	text-align: center;
	color: #69c598;
	display: inline-block;
	border-radius: 5px;
	border-color: rgba(255,255,255,.3);
	padding: 12px 18px;
	position:fixed;
	bottom:10px;
	left:10px;
	z-index:3;
	
}



p.status{
	padding-right:20px;
	float:right;
}

p.number{
	float:left;
}


li  {
	min-height: 60px;
font-size: 16px;
font-weight: normal;
border: 0px;
border-bottom: 1px solid rgba(255,255,255,.3);
margin:0px 0px 0px 0px;
padding:15px 0 15px 10px;

}


.emergency{
	font-weight:bolder;
	font-size:18px;
}

/* #DF535D; */





