#logs {
	background: #cc0033;
}
#users {
	background: #6699cc;
}
.hero-unit {
	background: #66cc99;
	text-align: center;
}
#about {
	background: #ff6600;
}
#5 {
	background: #660033;
}
.section {
	color: white;
	padding: 10px;
	margin-top: 20px;
}
h1, h2, .brand {
	font-family: "Arvo", sans-serif;
}
h1 {
	padding: 20px;
}
h2 {
	text-align: center;
	padding: 40px;
	font-size: 50px;
}
body {
	padding-top: 60px; 
	font-family: "Open Sans", sans-serif;
}
.fire, .flower, .smoketower, .co2 {
	text-align: center;
}
.phone {
	width: 20%;
}